# Config server
config_server/*.class

config_server/HELP.md
config_server/target/

### IntelliJ IDEA ###
config_server/.idea
config_server/*.iws
config_server/*.iml
config_server/*.ipr

### VS Code ###
config_server/.vscode/

config_server/.mvn/


# Customers
customers/*.class

customers/HELP.md
customers/target/

### IntelliJ IDEA ###
customers/.idea
customers/*.iws
customers/*.iml
customers/*.ipr

### VS Code ###
customers/.vscode/

customers/.mvn/

# Docker
.docker/
